{% if folder.parent %}
	{{ include ('SiteFilerBundle:Admin:bcfolder.html.twig', {'folder': folder.parent }) }}
{% endif %}
<li><a href="{{path('admin_filer_folder_index', {'folderid': folder.id})}}">{{folder.title}}</a></li>