{% extends 'HenresFilerBundle::template.html.twig' %}

{% use 'HenresFilerBundle:Admin:template.html.twig' %}

{% form_theme fileform 'HenresFilerBundle:Form:fields.html.twig' %}
{% block title %}Filer{% endblock %}
{% block top %}
	<ol class="breadcrumb">
		<li><a href="{{path('admin_index')}}">Dashboard</a></li>
		<li><a href="{{path('admin_filer_ckeditor')}}">Media</a></li>
		{% if folder.parent %}
			{{ include ('SiteFilerBundle:Admin:ckeditor.bcfolder.html.twig', {'folder': folder.parent }) }}
		{% endif %}
		<li class="active">{{folder.title}}</li>
	</ol>
	<div class="search">
		
	</div>
{% endblock %}

{% block left %}
	{% set ckeditor = app.session.get('ckeditor') %}
	<div class="folder">
		<div>
			<div class="folder_title pull-left">
				Current folder : {{folder.title}}
			</div>
			<div class="button1 col-md-4 pull-left">
				<a href="{{path('filer_new_folder', {'parent': folder.id })}}" data-toggle="modal" data-target="#folder_modal" class="text-info newfolder btn btn-small btn-success">
					<i class="icon icon-plus icon-lg"> </i>{% trans %}New folder{% endtrans %}
				</a>
				<a href="{{path('filer_edit_folder', {'id': folder.id })}}" data-toggle="modal" data-target="#folder_modal" class="text-info newfolder btn btn-small btn-primary">
					<i class="icon icon-pencil icon-lg"> </i>{% trans %}Edit folder{% endtrans %}
				</a>
				{% if folder.name not in 'root' %}
					<a href="#" data-toggle="modal" data-target="#delete_modal" class="text-info newfolder btn btn-small btn-danger">
						<i class="icon icon-trash-o icon-lg"> </i>{% trans %}Delete folder{% endtrans %}
					</a>
				{% endif %}
			</div>
		</div>
		<div class="clear"></div>
		<table class="table-hover">
			<thead>
				<th>Select</th>
				<th class="preview"></th>
				<th class="name">{% trans %}Name{% endtrans %}</th>
				<th class="description">{% trans %}Description{% endtrans %}</th>
				<th class="created_at">{% trans %}Created At{% endtrans %}</th>
				{% if is_granted('ROLE_ADMIN') %}
					<th class="owner">{% trans %}Owner{% endtrans %}</th>
				{% endif %}
			</thead>
			<tbody>
				{% for ffolder in folder.childrens %}
				<tr>
					<td></td>
				    <td>
				    	<a href="{{path('filer_admin_folder_ckeditor', {'folderid': ffolder.id})}}">
				    		<img class='media-object img-thumbnail' src="{{asset('bundles/sitefiler/images/yellow_generic_folder.png') }}" alt="">
				    	</a>
				    </td>
				    <td><a href="{{path('filer_admin_folder_ckeditor', {'folderid': ffolder.id})}}">{{ ffolder.title }}</a></td>
				    <td>{{folder.description}}</td>
				    <td>{{ ffolder.createdAt|date('Y-m-d H:i:s') }}</td>
				    {% if is_granted('ROLE_ADMIN') %}
				    	<td>{{ ffolder.owner }}</td>
	 				{% endif %}
				</tr>
				{% endfor %}
				{% for ffile in folder.files %}
    				<tr>
    					<td>
    						<button id="{{ ffile.id }}" class="ckeditor-button btn btn-small btn-success">
    							<i class="icon icon-check-square icon-lg"></i>
    						</button>
    					</td>
					    <td>
					    	<a href="{{path('filer_admin_folder_ckeditor', {'folderid': ffile.id})}}">
					    		<img class='media-object img-thumbnail' src="/admin/filer/file/fileshow/{{ ffile.id }}" alt="">
					    	</a>
					    </td>
					    <td><a href="{{path('filer_admin_folder_ckeditor', {'folderid': ffile.id})}}">{{ ffile.filename }}</a></td>
					    <td></td>
					    <td>{{ ffile.uploadDate|date('Y-m-d H:i:s') }}</td>
					    {% if is_granted('ROLE_ADMIN') %}
					    	<td>{{ ffile.owner }}</td>
		 				{% endif %}
					</tr>
				{% endfor %}
			</tbody>
			<tfoot></tfoot>
		</table>
	</div>
	{% endblock %}

	{% block right %}
	{% set ckeditor = app.session.get('ckeditor') %}

		{{ckeditor.CKEditorFuncNum}}
	<div class="row">
		<div class="add-file col-md-1">
			<button class="btn btn-small btn-success" type="button" id="add-file">
				<i class="icon icon-upload icon-lg"></i>Upload file
			</button>
		</div>
	</div>
	<div class="clipboard">
		<h4>{% trans %}ClipBoard{% endtrans %}</h4>
		<table class="table">
			<tbody>
				{% if clipboard %}
					{% if clipboard.files %}
						{% for file in clipboard.files %}
						    <tr>
						    	<td>
						    		<img class='media-object img-thumbnail' src="/admin/filer/file/fileshow/{{ file.id }}" alt="Symfony!" />
						    	</td>
						    	<td>
						    		{{file.filename}}
						    	</td>
						    </tr>
						{% endfor %}
					{% else %}
						{% trans %}Your clipboard is empty{% endtrans %}
					{% endif %}
				{% endif %}
			</tbody>
			<tfoot>
		        <tr>
		            <td colspan="2">
		                <form class="pull-right" style="display: inline;" method="post" action="/admin/filer/clipboard/operations/discard_clipboard/">
		                    <input type="hidden" value="1" name="clipboard_id">
		                    <input type="hidden" value="/admin/filer/folder/1/list/" name="redirect_to">
		                    <input type="submit" class="btn btn-small btn-danger" title="Déplacer tous les fichiers du presse-papiers vers 'Fichiers non classés' dossier" value="Vider">
		                </form>
		                <form style="display: inline;" method="post" action="{{ path('filer_clipboard_paste_to_current_folder', {'id': folder.id})}}">
		                    <input type="hidden" value="1" name="folder_id">
		                    <input type="hidden" value="/admin/filer/folder/1/list/" name="redirect_to">
		                    <button class="btn btn-small" title="Coller tous les éléments ici" value="" type="submit"><i class="icon icon-arrow-left"></i></button>
		                </form>
		            </td>
		        </tr>
			</tfoot>
		</table>
	</div>
	<form class="invisible" action="{{ path('file_create_admin') }}" id='new_file' method="post" {{ form_enctype(fileform) }}>
		{{ form_widget(fileform.file) }}
	    {{ form_widget(fileform) }}
	    {{ form_rest(fileform) }}
	</form>
	<div class="modal fade" id="folder_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Delete</h4>
	            </div>
	            <div class="modal-body">
	                <p>{% trans %} You are about to delete this element.{% endtrans %}</p>
	                <p>{% trans %} Do you want to proceed?{% endtrans %}</p>
	            </div>
	            <div class="modal-footer">
	                <form action="{{ path('filer_delete_folder', { 'id': folder.id }) }}">
		                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
		                <button type="submit" class="btn btn-danger">{% trans %}Confirm delete{% endtrans %}</button>
	                </form>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<script>
		{% set ckeditor = app.session.get('ckeditor') %}
		$('.ckeditor-button').click(function(){

		    var url = '/filer/file/fileshow/' + this.id;
		    window.opener.CKEDITOR.tools.callFunction({{ckeditor.CKEditorFuncNum}}, url);
		    $.ajax({url: "{{ path('ckeditor_session_delete') }}"});
		    window.close();
		});
		$('#add-file').click(function(){
		    $('#site_cmsbundle_filetype_file').click();
		});
		$('input[type=file]').change(function() { 
		    // select the form and submit
		    $('#new_file').submit(); 
		});
	</script>
{% endblock %}