{% extends 'HenresFilerBundle:Admin:template.html.twig' %}

{% form_theme fileform 'HenresFilerBundle:Form:fields.html.twig' %}

{% block title %}Filer{% endblock %}

{#{% block bundle %}henres_filer_bundle{% endblock %}#}

{% block left %}
	<div class="panel panel-default folder">
		<div class="panel-heading clearfix">
			<h4 class="panel-title pull-left" style="padding-top: 7.5px;">Current folder : {{folder.title}}</h4>
			<div class="pull-right">
				<div class="btn-group">
					<a data-toggle="modal" data-target="#folder_modal" class="btn btn-small btn-success" href="{{path('filer_new_folder', {'parent': folder.id })}}" >
						<i class="fa fa-plus fa-fw"> </i>{% trans %}New folder{% endtrans %}
					</a>
					<a href="{{path('filer_edit_folder', {'id': folder.id })}}" data-toggle="modal" data-target="#folder_modal" class="btn btn-small btn-primary">
						<i class="fa fa-pencil fa-fw"> </i>{% trans %}Edit folder{% endtrans %}
					</a>
					{% if folder.name not in 'root' %}
						<a href="#" data-toggle="modal" data-target="#delete_modal" class="text-info newfolder btn btn-small btn-danger">
							<i class="fa fa-trash-o fa-fw"> </i>{% trans %}Delete folder{% endtrans %}
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-hover">
			<thead>
				<th class="preview"></th>
				<th class="name">{% trans %}Name{% endtrans %}</th>
				<th class="description">{% trans %}Description{% endtrans %}</th>
				<th class="created_at">{% trans %}Created At{% endtrans %}</th>
				{% if is_granted('ROLE_ADMIN') %}
					<th class="owner">{% trans %}Owner{% endtrans %}</th>
				{% endif %}
			</thead>
			<tbody>
				{% for ffolder in folder.childrens %}
				<tr>
				    <td>
				    	<a href="{{path('admin_filer_folder_index', {'folderid': ffolder.id})}}">
				    		<i class="fa fa-folder-open-o fa-3x"></i>
				    	</a>
				    </td>
				    <td><a href="{{path('admin_filer_folder_index', {'folderid': ffolder.id})}}">{{ ffolder.title }}</a></td>
				    <td>{{folder.description}}</td>
				    <td>{{ ffolder.createdAt|date('Y-m-d H:i:s') }}</td>
				    {% if is_granted('ROLE_ADMIN') %}
				    	<td>{{ ffolder.owner }}</td>
	 				{% endif %}
				</tr>
				{% endfor %}
				{% for ffile in folder.files %}
    				<tr>
					    <td>
					    	<a href="{{path('file_show', {'id': ffile.id, 'folderid': folder.id})}}">
					    		{% if ffile.mimetype in {1:'image/jpeg', 2:'image/png', 3:'image/svg', 4:'image/tiff'} %}
					    			<img class='media-object img-thumbnail' src="/admin/filer/file/fileshow/{{ ffile.id }}" alt="">
					    		{% else %}
					    			<i class="fa fa-file-text"></i></button>
					    		{% endif %}
					    	</a>
					    </td>
					    <td><a href="{{path('file_show', {'id': ffile.id, 'folderid': folder.id})}}">{{ ffile.filename }}</a></td>
					    <td></td>
					    <td>{{ ffile.uploadDate|date('Y-m-d H:i:s') }}</td>
					    {% if is_granted('ROLE_ADMIN') %}
					    	<td>{{ ffile.owner }}</td>
		 				{% endif %}
					</tr>
				{% endfor %}
			</tbody>
			<tfoot></tfoot>
		</table>
		</div>
	</div>
{% endblock %}

{% block right %}
	<div class="panel panel-default clipboard">
		<div class="panel-heading clearfix">
			<h4 class="panel-title pull-left" style="padding-top: 7.5px;">{% trans %}ClipBoard{% endtrans %}</h4>
			<div class="pull-right">
				<div class="btn-group">
					<button class="btn btn-small btn-success" type="button" id="add-file" ><i class="fa fa-upload fa-fw"></i>Upload file</button>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<table class="table">
				<tbody>
					{% if clipboard %}
						{% if clipboard.files %}
							{% for file in clipboard.files %}
							    <tr><td><img class='media-object img-thumbnail' src="/admin/filer/file/fileshow/{{ file.id }}" alt="Symfony!" /></td><td>{{file.filename}}</td></tr>
							{% endfor %}
						{% else %}
							{% trans %}Your clipboard is empty{% endtrans %}
						{% endif %}
					{% endif %}
				</tbody>
			</table>
		</div>
		<div class="panel-footer clearfix">
			<form class="pull-right" style="display: inline;" method="post" action="{{ path('filer_clipboard_discard')}}">
	            <input type="hidden" value="1" name="clipboard_id">
	            <input type="hidden" value="/admin/filer/folder/1/list/" name="redirect_to">
	            <input type="submit" class="btn btn-small btn-danger" title="Déplacer tous les fichiers du presse-papiers vers 'Fichiers non classés' dossier" value="Vider">
	        </form>
	        <form style="display: inline;" method="post" action="{{ path('filer_clipboard_paste_to_current_folder', {'id': folder.id})}}">
	            <input type="hidden" value="1" name="folder_id">
	            <input type="hidden" value="/admin/filer/folder/1/list/" name="redirect_to">
	            <button class="btn btn-small btn-default" title="Coller tous les éléments ici" value="" type="submit"><i class="fa fa-arrow-left"></i></button>
	        </form>
		</div>
	</div>
	<form class="invisible" action="{{ path('admin_file_create_folder', {'folder': folder.id}) }}" id='new_file' method="post" {{ form_enctype(fileform) }}>
		{{ form_widget(fileform.file) }}
	    {{ form_widget(fileform) }}
	    {{ form_rest(fileform) }}
	</form>
{% endblock %}

{% block modals %}
	<div class="modal fade" id="folder_modal" aria-labelledby="foldernewedit" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div>
	<div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Delete</h4>
	            </div>
	            <div class="modal-body">
	                <p>{% trans %} You are about to delete this element.{% endtrans %}</p>
	                <p>{% trans %} Do you want to proceed?{% endtrans %}</p>
	            </div>
	            <div class="modal-footer">
	                <form action="{{ path('filer_delete_folder', { 'id': folder.id }) }}">
		                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
		                <button type="submit" class="btn btn-danger">{% trans %}Confirm delete{% endtrans %}</button>
	                </form>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
			$('#add-file').click(function(){
			    $('#henres_filerbundle_filetype_file').click();
			});
			$('input[type=file]').change(function() { 
			    // select the form and submit
			    $('#new_file').submit(); 
			});
		});
	</script>
{% endblock %}