<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title%}Filer Bundle{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
</head>
<body>
	{% block flashbag %}{% endblock %}
	{% block content %}{% endblock %}
	{% block javascript %}{% endblock %}
</body>
</html>