{% if basetheme is defined %}
	{% set extends_template = basetheme %}
{% elseif template is defined %}
	{% set extends_template = template %}
{% else %}
	{% set extends_template = 'HenresFilerBundle:Admin:layout.html.twig' %}
{% endif %}

{% extends extends_template %}

{% block content %}
	{% block top %}{% endblock %}
	<div class="row">
		<div class="content">
			<div class="left col-md-8">
				{% block left %}{% endblock %}
			</div>
			<div class="right col-md-4">
				{% block right %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}