<h1>File list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>File</th>
            <th>Folder</th>
            <th>Owner</th>
            <th>Updated_at</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <td><a href="{{ path('file_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
            <td>{{ document.file.bytes }}</td>
            <td>{{ document.folder }}</td>
            <td>{{ document.owner }}</td>
            <td>{% if document.updatedat %}{{ document.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('file_show', { 'id': document.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('file_edit', { 'id': document.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('file_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
