{% extends 'HenresFilerBundle:Admin:template.html.twig' %}

{% block title %}File{% endblock %}

{% block bundle %}site_filer_bundle{% endblock %}

{% block content %}
<div class="show">

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.filename }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td><img src="/admin/filer/file/fileshow/{{ document.id }}" alt="Symfony!" /></td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_filer_folder_index', {'folderid': folder.id}) }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('file_delete', { 'id': document.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
</div>
{% endblock content %}