{% block content %}
{% block top %}{% endblock %}
<div class="filer">
	<div class="left">
		{% block left %}{% endblock %}
	</div>
	<div class="right">
		{% block right %}{% endblock %}
	</div>
</div>
{% endblock %}