
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Folder creation</h4>
</div>
<form action="{{ path('filer_update_folder', {'id': document.id}) }}" method="post" {{ form_enctype(edit_form) }}>
	<div class="modal-body">
		    {{ form_widget(edit_form) }}
	</div>
    <div class="modal-footer">
    	<a href="{{ path('admin_filer_index') }}">{% trans %}Back to the list{% endtrans %}</a>
    	<button type="submit">{% trans %}Update{% endtrans %}</button>
    </div>
</form>
