<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Folder creation</h4>
</div>
<form action="{{ path('filer_create_folder', {'parent': parent}) }}" method="post" {{ form_enctype(form) }}>
	<div class="modal-body">
		    {{ form_widget(form) }}
	</div>
    <div class="modal-footer">
    	<a href="{{ path('admin_filer_index') }}">{% trans %}Back to the list{% endtrans %}</a>
    	<button type="submit">{% trans %}Create{% endtrans %}</button>
    </div>
</form>

