{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}

    <input class="btn btn-small btn-success" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

    {% endspaceless %}
{% endblock %}